<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header>
	<nav class="header">
		<ul class="header__menu">
			<li class="header__link"><a th:href="@{/}">Головна</a></li>
			<li class="header__link"><a th:href="@{/products}">Товари</a></li>
			<li class="header__link"><a th:href="@{/categories}">Категорії</a></li>
			<li class="header__link"><a th:href="@{/cart}">Кошик</a></li>
			<li class="header__link"><a th:href="@{/orders}">Замовлення</a></li>
			<li class="header__link"><a th:href="@{/auth/register}">Реєстрація</a></li>
			<li class="header__link"><a th:href="@{/auth/login}">Увійти</a></li>
		</ul>
	</nav>
</header>
</body>
</html>