<!doctype html>
<html lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="container my-5">
	<h1 class="text-center mb-4" th:text="${pageTitle}">Категорії</h1>
	<div class="row justify-content-center">
		<div class="col-md-4 mb-3" th:each="category : ${categories}">
			<div class="card h-100">
				<img th:src="${category.imageUrl}" class="card-img-top" alt="Category Image">
				<div class="card-body text-center">
					<h5 class="card-title" th:text="${category.name}">Назва категорії</h5>
				</div>
				<div class="card-footer text-center">
					<a th:href="@{/categories/{id}(id=${category.id})}" class="btn btn-primary stretched-link">Переглянути</a>
				</div>
			</div>
		</div>
	</div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
				crossorigin="anonymous"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>